input[type="text"] {
  border: none;
  background: none;
}

input[type="text"]:focus {
  border: none;
  border-color: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

.search_bar input[type="text"] {
  color: ghostwhite;
}
.search_bar .ant-input-suffix svg {
  color: ghostwhite;
}
/* .ant-input-suffix svg {
  color: white;
} */

.add_list {
  display: flex;
}

.add_list .ant-form-item {
  margin-right: 0px !important;
}

.btn-facebook,
.btn-github,
.btn-google {
  margin-top: 20px;
}

.ant-card-body {
  height: 100%;
}
